<!DOCTYPE html>
<head>
    <title>Hello</title>
<link rel="stylesheet" href="./css/index.css">

</head>
<body>
  <h1>welcome</h1>
  <h2>{{>header}}</h2> 
 
   <form>
            
    <script src="/js/test.js"></script>

</body>

