<!DOCTYPE html>
<head>

</head>
<body>
 
    <br>
    <a href='/'>Home Page</a>
    <a href='/absentDays'>Absent Days</a>
    <a href='/absentDetails'>Absent Details</a>
    <a href='/leaveBalance'>Leave Balance</a>
    <a href='/holidayCalander'>Holiday Calander</a>
 


<div class="footer">
  
    </div>
</body>